@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --main-blue: #6fa5f6;
  --main-green: #62AD47;
  --main-yellow : rgb(255, 220, 124);
  --intense-yellow: rgb(255, 215, 105);
  --main-purple: rgb(74, 0, 101);
  --main-red: #7B0F0C;
  --white-bg: #F1F1F1;
  --white-container: #F8F8F8;

  --main-font-color: #242424;
  --input-font-color: #666666;

  --input-font-color--opaque: #e7e7e7;
  --input-font-color--more-opaque: #f0f0f0;

  --input-bg: #E4E4E4;

  --main-font: "Figtree", sans-serif;
  --title-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--white-bg);
  color: var(--main-font-color);
}

p, .p {
  font-family: var(--main-font);
  font-size: 1.3rem;
}



h1, h2{
  width: fit-content;
  font-family: var(--title-font);
  
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

img.login__logo{
  width: 17rem;
}

aside ul li a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

a.tooltip {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

a.menu-link{
  color: var(--main-font-color);
  font-size: 1rem;
}

/* a.menu-link:hover, li.menu__item:hover, svg.menu__item__icon:hover {
	opacity: 0.7;
	transition: 0.7s;
} */



aside{
  background-color: var(--main-blue);
}

a.menu-link--active{
  opacity: 0.6;
}

a.menu__item:hover {
	opacity: 0.7;
	transition: 0.3s;
}

.container {
  background-color: var(--white-container);
}


.button {
  background-color: var(--main-blue);
  color: var(--white-bg);
}

button.exit-button {
	background-color: var(--main-red);
}

.button:hover {
  opacity: 0.9;
  transition: 0.4s;
}

/* Menu */

p.menu__user-info{
	color: var(--input-bg);
}

ul.menu-ul {
	background-color: var(--white-bg);
}

/* List */

th {
  font-size: 1.02rem;
  color: var(--main-font-color);
}

table {
  background-color: var(--white-bg);
}

div.table-wrapper {
  background-color: var(--input-font-color--opaque);
  padding: 0.071rem;
  border-radius: 0.6rem;
}

tbody tr:hover {
  background-color: var(--input-font-color--more-opaque);
  transition: 0.3s;
}

tr {
  background-color: var(--white-container);
  padding: 0.1rem;
  margin: 0;
  border: 1px solid var(--input-font-color--opaque);
  border-bottom: none;
}

td {
  font-size: 1rem;
  width: fit-content;
}

td.td-situation--first {
  border-top-right-radius: 0.75rem;
}

td.td-situation--last {
  border-bottom-right-radius: 0.75rem;
}

td.td-situation-green {
  background-color: var(--main-green);
  color: var(--white-bg);
}

td.td-situation-yellow {
  background-color: var(--intense-yellow);
  color: white;
}

td.td-situation-red {
  background-color: var(--main-red);
  opacity: 0.8;
  color: var(--white-bg);
}

.easter-egg {
  background-image: url(/src/assets/img/bg.png);
  --main-font: "Comic Neue", sans-serif;
  --title-font: "Comic Neue", sans-serif;
  --main-blue: rgb(50, 129, 50);

}

.not-easter-egg {
  background-image: none;
  --main-font: "Figtree", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --main-blue: #6fa5f6;
}

input.marked {
	background-color: var(--input-font-color);
  opacity: 1;
  color: var(--main-font-color);
}

input.not-marked {
	background-color: var(--input-font-color--opaque);
}

/* Search */

p.p-hint {
  color: var(--input-font-color);
  margin-block: 0.5rem;
  font-size: 0.95rem;
}

label.input-label {
  font-size: 1.2rem;
}

.autocomplete {
  background-color: #F9FAFB;
  font-family: var(--title-font) !important;
}

button.button-search {
	background-color: var(--main-purple);
	color: var(--input-bg);
}

section.results-container {
	background-color: var(--input-font-color--opaque);
}

/* List */
section.book {
	background-color: var(--white-container);
	padding: 0.4rem;
}

/* .book:first-child{
	margin-top: 3rem;
} */

p.status-d, p.status-D {
	border-color: var(--main-green);
	color: var(--main-green);
}

p.status-i, p.status-I {
	border-color: var(--intense-yellow);
	color: var(--intense-yellow);
}

.book-rating {
  background-color: var(--main-font-color);
  color: var(--main-font-color);
}

p.rating-label{
  color: var(--input-font-color);
}

/* Librarian */

button.button-loan {
  background-color: transparent;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
}

button.button-loan--active {
  background-color: var(--main-blue);
}