@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --main-blue: #7FACEF;
  --main-green: #62AD47;
  --main-red: #7B0F0C;
  --white-bg: #F1F1F1;
  --white-container: #F8F8F8;

  --main-font-color: #242424;
  --input-font-color: #666666;

  --input-bg: #E4E4E4;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--white-bg);
}

h1{
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

img.login__logo{
  width: 17rem;
}

a.menu-link{
  color: var(--white-bg);
  font-size: 1.2rem;
}

aside.menu{
  background-color: var(--main-blue);
}

a.menu-link--active{
  color: var(--input-font-color);
}

.container {
  background-color: var(--white-container);
}


.button {
  background-color: var(--main-blue);
  color: var(--white-bg);
}

.button:hover {
  opacity: 0.9;
  transition: 0.4s;
}